.container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.button {
    width: 200px;
    height: 50px;
    cursor: pointer;
    background-color: palevioletred;
    border: none;
    border-radius: 3px;
    font-size: 1em;
}

.output {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 20px;
}

.output__field {
    display: flex;
    justify-content: center;
    width: 150px;
    height: 30px;
    border: 1px solid grey;
}